body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(134, 227, 250);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

table, th, td {
  border: 1px solid rgb(3, 98, 105);
}