body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

table, th, td {
  border: 1px solid rgba(6, 131, 153, 0.774);
}