body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(134, 227, 250);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

table, th, td {
  border: 1px solid rgb(3, 98, 105);
}



 a:hover {
  background-color: rgb(19, 187, 199);
}

a:visited {
  color: rgb(1, 78, 114);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #d5f0f7da;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

